@{
    ViewBag.Title = "DisplayManyProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TP03.Models.Produit> produits = ViewData["produits"] as List<TP03.Models.Produit>;
}

<table class="table table-bordered table-hover" style="margin-top:100px">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
    </tr>
    @foreach (var produit in produits)
    {
        <tr>
            <td>@produit.Id</td>

            <td>@produit.Name</td>

            <td>@produit.Price</td>
        </tr>
    }
</table>