@{
    ViewBag.Title = "DisplayOneProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DisplayOneProduct</h2>

<ul>
    <li>ID: @Model.Id</li>
    <li>Name: @Model.Name</li>
    <li>Price: @Model.Price</li>
</ul>