@{
    ViewBag.Title = "DisplayOneProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover" style="margin-top:100px">
    <tr>
        <td>Product ID</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Product Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Product Price</td>
        <td>@Model.Price</td>
    </tr>
</table>